body {
    background-color: #ff1aba;
    color: white;
  }
  
  main {
    text-align: center; 
  }
  
  h1, h2, p, button {
    font-family: Concert One;
  }
  
  h1 {
    padding: 23px;
    font-weight: 900;
  }
  
  p {
    padding-bottom: 20px;
  }
  
  button {  
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background: rgba(300, 300, 300, 0.25);
    color: white;
    border-radius: 7px;
    padding: 20px;
    text-shadow: 3px 3px 20px white, 0.5px 0.5px 5px black;
    font-weight: 900;
    font-size: 1.05rem;
    padding-bottom: 25px;
  }
  
  button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .how-to {
    position: absolute;
    bottom: 5%;
    left: 20px;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border-color: transparent;
    text-shadow: 3px 3px 20px white, 0.5px 0.5px 5px black;
    padding-bottom: 15px;
  }
  
  h1, .cardType-content, .shitshot-content {
    text-shadow: 3px 3px 20px white, 0.5px 0.5px 5px black;
    line-height: 150%;
  }
  
  .shitshot-content {
    text-shadow: 3px 3px 10px white, 0.5px 0.5px 5px black;
  }
  
  .animateKiss {
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    background-color: #ff41b6;
  }
  
  .animateQuestion {
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    background-color: #00c2ff;
  }
  
  .animateDare {
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    background-color: black;
  }
  
  .animateGroup {
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    background-color: #9600ff;
  }
  
  .animateDrink {
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    background-color: lightgreen;
  }
  
  .animatePlay {
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    background-color: #ff1aba;
  }
  